<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Argon</key>
	<dict>
		<key>Date</key>
		<date>2015-11-13T01:49:17Z</date>
		<key>FoodQuality</key>
		<integer>10</integer>
		<key>PaidForFood</key>
		<integer>1200000</integer>
		<key>RestrauntAtmosphere</key>
		<integer>10</integer>
		<key>ServiceQuality</key>
		<integer>7</integer>
		<key>ServiceSpeed</key>
		<integer>7</integer>
	</dict>
	<key>Eleon</key>
	<dict>
		<key>Date</key>
		<date>2015-11-13T01:49:17Z</date>
		<key>FoodQuality</key>
		<integer>9</integer>
		<key>PaidForFood</key>
		<integer>510000</integer>
		<key>RestrauntAtmosphere</key>
		<integer>9</integer>
		<key>ServiceQuality</key>
		<integer>9</integer>
		<key>ServiceSpeed</key>
		<integer>10</integer>
	</dict>
	<key>Klorina</key>
	<dict>
		<key>Date</key>
		<date>2015-11-13T01:49:17Z</date>
		<key>FoodQuality</key>
		<integer>10</integer>
		<key>PaidForFood</key>
		<integer>478000</integer>
		<key>RestrauntAtmosphere</key>
		<integer>9</integer>
		<key>ServiceQuality</key>
		<integer>10</integer>
		<key>ServiceSpeed</key>
		<integer>9</integer>
	</dict>
	<key>Primor</key>
	<dict>
		<key>Date</key>
		<date>2015-11-13T01:49:17Z</date>
		<key>FoodQuality</key>
		<integer>9</integer>
		<key>PaidForFood</key>
		<integer>2700000</integer>
		<key>RestrauntAtmosphere</key>
		<integer>9</integer>
		<key>ServiceQuality</key>
		<integer>10</integer>
		<key>ServiceSpeed</key>
		<integer>10</integer>
	</dict>
	<key>Victor</key>
	<dict>
		<key>Date</key>
		<date>2015-11-13T01:49:17Z</date>
		<key>FoodQuality</key>
		<integer>7</integer>
		<key>PaidForFood</key>
		<integer>250000</integer>
		<key>RestrauntAtmosphere</key>
		<integer>9</integer>
		<key>ServiceQuality</key>
		<integer>9</integer>
		<key>ServiceSpeed</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
